<!-- <section class="success-notification-section" *ngIf="!serverResponse.hasError">
    <app-success [message]="serverResponse.message"></app-success>
</section>
<section class="error-notification-section" *ngIf="serverResponse.hasError">
    <app-error [message]="serverResponse.message"></app-error>
</section> -->

<section class="register-form-container">
    <h2 class="register-form-title">Sign up</h2>
    <form class="register-form">
        <label for="username">Username
            <i class="fas fa-user"></i>
            <input type="text" #usernameInput id="username" name="username" placeholder="Username" autofocus>
        </label>
        <label for="e-mail">E-mail
            <i class="fas fa-envelope"></i>
            <input type="email" #emailInput id="e-mail" name="Email" placeholder="E-mail">
        </label>
        <label for="password">Password
            <i class="fas fa-key"></i>
            <input type="password" #passwordInput id="password" name="password" placeholder="Password">
        </label>
        <label for="re-password">Re-password
            <i class="fas fa-key"></i>
            <input type="password" #rePasswordInput id="re-password" name="rePassword" placeholder="Re-password">
        </label>
        <input type="submit" (click)="signUpHandler([
            $event,
            usernameInput,
            emailInput,
            passwordInput,
            rePasswordInput
        ])" value="Sign up">
    </form>
</section>