<section class="main-content">
    <h1 class="main-content-title">All products available</h1>
    <section class="inner">
        <section class="loading" *ngIf="!products">
            Loading...
        </section>
        <section *ngIf="products">
            <app-product *ngFor="let product of products" [product]="product"
                (serverResponseEmitter)="eventEmitterHandler($event)">
            </app-product>
        </section>
    </section>
</section>
<section class="empty-section">

</section>