.site-footer {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  background-color: orange;
  color: black;
  line-height: 1.5;
  padding-top: 30px;
  border-top: 2px solid black;
  
}

.footer-top {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

.about-us,
.contact-us,
.recent-posts,
.pages {
  max-width: 20%;
}

.about-us-title,
.contact-us-title,
.recent-posts-title,
.pages-title {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 1.1rem;
  border-bottom: 2px solid black;
}

.contacts-list,
.recent-posts .list,
.footer-links {
  padding-left: 0;
}

.contacts-list li,
.recent-posts .list li,
.footer-links li {
  list-style: none;
}

.footer-link a {
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  
}

.contact-us strong {
  border-bottom: 2px solid black;
}

.footer-bottom {
  display: flex;
  justify-content: center;
  background-color: black;
  color: orange;
  font-size: bold;
}

.contacts-list {
  line-height: 1.8;
}

.footer-links {
  display: flex;
  justify-content: center;
}
