.site-footer {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  background-color: black;
  color: orange;
  line-height: 1.5;
  padding-top: 30px;
}

.footer-top {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

.about-us,
.contact-us,
.recent-posts,
.pages {
  max-width: 20%;
  
}

.about-us-title,
.contact-us-title,
.recent-posts-title,
.pages-title {
  font-size: 1.2rem;
  border-bottom: 2px solid orange;
  
}

.contacts-list,
.recent-posts .list,
.footer-links {
  padding-left: 0;
}

.contacts-list li,
.recent-posts .list li,
.footer-links li {
    list-style: none;
}

.footer-link a {
    text-decoration: none;
    color: orange;
    text-transform: uppercase;
}

.contact-us strong {
    border-bottom: 2px solid orange;
}

.footer-bottom {
    display: flex;
    justify-content: center;
    border-top: 1px solid orange;
}

.contacts-list {
    line-height: 1.7;
}

