.home-guest-view-content {
  display: flex;
  justify-content: center;
  align-items: top;
  margin-top: 40px;
}

.home-guest-view-content-text {
  max-width: 45%;
}

.home-guest-view-content-text-title {
  font-size: 3rem;
  margin-bottom: 0;
}

.home-guest-view-content-text-subtitle {
  font-size: 1.8rem;
}

.home-guest-view-content-image-container {
  max-width: 45%;
}

.home-guest-view-content-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 50px;
}

.home-guest-view-content-image-container img {
  width: 100%;
  border-radius: 20px;
  box-shadow: 3px 0px 7px 2px lightgrey;
}

.about-us {
  width: fit-content;
  position: relative;
  left: 75px;
}

.about-us-btn {
  font-size: 0.9rem;
  padding: 12px 32px;
  background-color: orange;
  border: none;
  color: black;
  font-weight: bold;
  border-radius: 24px;
  letter-spacing: 3px;
  box-shadow: 2px 0px 7px 1px lightgrey;
}

.about-us-btn:hover {
  cursor: pointer;
  color: orange;
  background-color: black;
}

.recent-offerts {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  padding-top: 20px;
  padding-bottom: 30px;
  background-color: orange;
}

.recent-offerts-title {
  font-size: 1.6rem;
  margin-bottom: 12px;
}

.recent-offerts .inner {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.filter-form label {
  position: relative;
  left: -500px;
}

#search {
  padding: 6px 0px 6px 25px;
  outline: none;
  border: none;
  border-radius: 3px;
}

.filter-form label input:last-child {
  margin-left: 15px;
  border: none;
  border-radius: 3px;
  padding: 6px 12px;
  background-color: black;
  color: orange;
  font-weight: bold;
}

.filter-form label input:last-child:hover {
  cursor: pointer;
}

.fas.fa-search {
  position: absolute;
  top: 6px;
  left: 5px;
}
