<section class="home-guest-view-content">
    <article class="home-guest-view-content-text">
        <h1 class="home-guest-view-content-text-title">Welcome to Healthy world!</h1>
        <h2 class="home-guest-view-content-text-subtitle">The biggest online bee products marketplace</h2>
    </article>
    <article class="home-guest-view-content-image-container">
        <img src="../../assets/images/sunflowers.jpg" alt="home-view-guest-background-image">
    </article>
</section>
<article class="cta">
    <a routerLink="/login">
        See all products
    </a>
</article>
<section class="recent-offerts">
    <ng-template [ngIf]="mostRecentOfferts?.length !== 0">
        <h1 class="recent-offerts-title" *ngIf="!searchedProducts">Our most liked offerts</h1>
        <article class="search-container">
            <article class="search">
                <form action="" class="filter-form" #form="ngForm" (submit)="searchHandler(form.value)">
                    <label for="search">
                        <i class="fas fa-search"></i>
                        <input type="text" id="search" name="search" #searchInput="ngModel" placeholder="..." required
                            ngModel>
                        <input type="submit" id="searchBtn" value="Search" [disabled]="form?.invalid">
                    </label>
                    <h6 class="required-field-notification" *ngIf="searchInput.touched && searchInput.errors?.required">
                        Field is required for search</h6>
                </form>
            </article>
        </article>
        <section class="inner">
            <ng-template [ngIf]="searchedProducts">
                <ng-template [ngIf]="searchedProducts.length === 0">
                    <article class="no-searched-products">
                        <h4 class="no-searched-products-text">Sorry, there are no products available with this search
                            criteria.</h4>
                        <button class="no-searched-products-btn" routerLink="/">To home page</button>
                    </article>
                </ng-template>
                <app-product *ngFor="let product of searchedProducts" [product]="product"></app-product>
            </ng-template>
            <ng-template [ngIf]="mostRecentOfferts && !searchedProducts">
                <app-product *ngFor="let product of mostRecentOfferts" [product]="product"></app-product>
            </ng-template>
            <ng-template [ngIf]="!mostRecentOfferts && !searchedProducts">
                <h3>Loading...</h3>
            </ng-template>
        </section>
    </ng-template>
    <ng-template [ngIf]="mostRecentOfferts?.length === 0 && !searchedProducts">
        <h3>No products stored yet!</h3>
        <article class="cta-store-a-product">
            <a routerLink="/login">
                Store a product
            </a>
        </article>
    </ng-template>
</section>