<section class="home-guest-view-content">
    <article class="home-guest-view-content-text">
        <h1 class="home-guest-view-content-text-title">Welcome to Healthy world!</h1>
        <h2 class="home-guest-view-content-text-subtitle">The biggest online bee products marketplace</h2>
    </article>
    <article class="home-guest-view-content-image-container">
        <img src="../../assets/images/sunflowers.jpg" alt="home-view-guest-background-image">
    </article>
</section>
<article class="cta">
    <a routerLink="/login">
        <button class="cta-btn" routerLink="/login">See all products</button>
    </a>
</article>
<section class="recent-offerts">
    <ng-template [ngIf]="mostRecentOfferts?.length !== 0">
        <h1 class="recent-offerts-title">Our most liked offerts</h1>
        <article class="search-container">
            <article class="search">
                <form action="" class="filter-form">
                    <label for="search">
                        <i class="fas fa-search"></i>
                        <input type="text" id="search" name="search">
                        <input type="submit" value="Search">
                    </label>
                </form>
            </article>
        </article>
        <section class="inner">
            <ng-template [ngIf]="mostRecentOfferts">
                <app-product *ngFor="let product of mostRecentOfferts" [product]="product"></app-product>
            </ng-template>
            <ng-template [ngIf]="!mostRecentOfferts">
                <h3>Loading...</h3>
            </ng-template>
        </section>
    </ng-template>
    <ng-template [ngIf]="mostRecentOfferts?.length === 0">
        <h3>No products stored yet!</h3>
    </ng-template>
</section>