.main-content-title,
.loading {
    text-align: center;
}

.main-content-title {
    font-size: 1.5rem;
}

.loading{
    margin-top: 50px;
    margin-bottom: 100px;
    font-size: 1.2rem;
}

.products {
    display: flex;
}