<section class="create-product-container">
    <h2 class="create-product-form-title">Create an offert</h2>
    <form action="" class="create-product-form">
        <label for="product-name">Product name
            <input type="text" id="product-name" name="product" placeholder="Product name" autofocus>
        </label>
        <label for="product-description">Product description
            <textarea id="product-description" name="description" placeholder="Product description"></textarea>
        </label>
        <label for="product-image">Product image
            <input type="text" id="product-image" name="imageUrl" placeholder="Product image">
        </label>
        <label for="product-price">Product price
            <input type="number" id="product-price" name="price" placeholder="Product price">
        </label>
        <input type="submit" value="Store a product">
    </form>
</section>