<section class="create-product-container">
    <form action="" class="create-product">
        <label for="product-name">Product name
            <input type="text" id="product-name" placeholder="Product name">
        </label>
        <label for="product-description">Product description
            <input type="text" id="product-description" placeholder="Product description">
        </label>
        <label for="product-image-url">Product image
            <input type="text" id="product-image-url" placeholder="Product image">
        </label>
        <label for="product-price">Product price
            <input type="number" id="product-price" placeholder="Product price">
        </label>
        <input type="submit" value="Store a product">
    </form>
</section>