<app-success *ngIf="serverResponseInfo && serverResponseInfo.hasError === false" [message]="serverResponseInfo.message">
</app-success>
<app-error *ngIf="serverResponseInfo && serverResponseInfo.hasError === true" [message]="serverResponseInfo.message">
</app-error>

<section class="product-details-content">
    <article class="product-details-content-image-wrapper">
        <img [src]="product?.imageUrl" alt="Product">
    </article>
    <article class="product-details-content-text">
        <p class="product-details-content-text-title">{{product?.product}}</p>
        <p class="product-details-content-text-subtitle">{{product?.description}}</p>
        <ul class="informative-list">
            <li class="informative-list-item">
                <span class="main-info">Price</span>
                <span class="secondary-info">{{product?.price}} lv/kg.</span>
            </li>
            <li class="informative-list-item">
                <span class="main-info">Seller</span>
                <span class="secondary-info">{{user?.username}}</span>
            </li>
            <li class="informative-list-item">
                <span class="main-info">E-mail</span>
                <span class="secondary-info">{{user?.eMail}}</span>
            </li>
            <article class="admin-option" *ngIf="isCurrentLoggedUserAdmin">
                <button class="product-details-content-btn delete" (click)="productDeleteHandler()">Delete</button>
            </article>
            <article class="owner-options" *ngIf="isCurrentLoggedUserOwnerOfProduct && !isCurrentLoggedUserAdmin">
                <button class="product-details-content-btn edit"
                    routerLink="/product/{{product._id}}/edit">Edit</button>
                <button class="product-details-content-btn delete" (click)="productDeleteHandler()">Delete</button>
            </article>
            <article class="guest-options" *ngIf="!isCurrentLoggedUserOwnerOfProduct && !isCurrentLoggedUserAdmin">
                <button class="product-details-content-btn buy" (click)="productBuyHandler()">Buy</button>
                <button class="product-details-content-btn like" (click)="likeProductHandler()"
                    *ngIf="!isCurrentUserHasAlreadyLikedTheProduct">
                    Like product
                </button>
                <h4 class="likes-notification" *ngIf="isCurrentUserHasAlreadyLikedTheProduct">
                    You have liked this product. Thank you!
                </h4>
                <article class="count-of-likes">
                    <h4>{{product?.likes}} likes</h4>
                </article>
            </article>
        </ul>
    </article>
</section>