<ng-template [ngIf]="serverResponseInfo">
    <ng-template [ngIf]="serverResponseInfo.hasError === false && serverResponseInfo.message !== ''">
        <app-success [message]="serverResponseInfo.message"></app-success>
    </ng-template>
    <ng-template [ngIf]="serverResponseInfo.hasError === true && serverResponseInfo.message !== ''">
        <app-error [message]="serverResponseInfo.message"></app-error>
    </ng-template>
</ng-template>

<section class="create-product-container">
    <h2 class="create-product-form-title">Create an offert</h2>
    <form class="create-product-form" #form="ngForm" (submit)="createOffertHandler(form.value)">
        <label for="product-name">Product name
            <input type="text" id="product-name" name="product" #productNameInput="ngModel" placeholder="Product name"
                autofocus required ngModel>
        </label>
        <h6 class="required-field-notification" *ngIf="productNameInput.touched && productNameInput.errors?.required">
            This field is required!
        </h6>
        <label for="product-description">Product description
            <textarea id="product-description" name="description" #productDescriptionInput="ngModel" minlength="10"
                maxlength="150" placeholder="Product description" required ngModel></textarea>
        </label>
        <h6 class="required-field-notification"
            *ngIf="productDescriptionInput.touched && productDescriptionInput.errors?.required">
            This field isrequired!
        </h6>
        <h6 class="field-notification"
            *ngIf="productDescriptionInput.errors?.minlength || productDescriptionInput.errors?.maxlength">
            Description must be between 10 and 150 characters long!
        </h6>
        <label for="product-image">Product image
            <input appImageUrlValidation type="text" id="product-image" name="imageUrl" #imageUrlInput="ngModel"
                placeholder="Product image" required ngModel>
        </label>
        <h6 class="required-field-notification" *ngIf="imageUrlInput.touched && imageUrlInput.errors?.required">
            This field isrequired!
        </h6>
        <h6 class="required-field-notification" *ngIf="form?.errors?.image">
            Image URL must starts with http or https and must ends with .jpg!
        </h6>
        <label for="product-price">Product price
            <input type="number" id="product-price" name="price" #productPriceInput="ngModel" min="0"
                placeholder="Product price" required ngModel>
        </label>
        <h6 class="required-field-notification" *ngIf="productPriceInput.touched && productPriceInput.errors?.required">
            This field is required!
        </h6>
        <h6 class="field-notification" *ngIf="productPriceInput.errors?.min">
            Selling price must be non negative number!
        </h6>
        <input type="submit" value="Store a product" [disabled]="form?.invalid">
    </form>
</section>