<footer class="site-footer">
    <section class="footer-top">
        <article class="pages">
            <span class="pages-title">Navigation</span>
            <ul class="footer-links">
                <li class="footer-link">
                    <a href="">Home</a>
                <li class="footer-link">
                    <a href="">My profile</a>
                </li>
            </ul>
        </article>
        <!-- <article class="about-us">
            <span class="about-us-title">About us</span>
            <p class="about-us-text">Our online marketplace gives you the opportunity to register an account, to offer
                products and also to contact with owners of other products of which you are interested.</p>
        </article> -->
        <article class="contact-us">
            <span class="contact-us-title">Contact us</span>
            <ul class="contacts-list">
                <li class="contacts-list-item"><strong>Email:</strong> healthy_world@abv.bg</li>
                <li class="contacts-list-item"><strong>Phone:</strong> 089* *** ***</li>
                <li class="contacts-list-item"><strong>Company address:</strong> 5 Industrialna st., Opaka, Bulgaria
                </li>
            </ul>
        </article>
    </section>
    <section class="footer-bottom">
        <p class="footer-bottom-text">&copy; 2020-2021 - Healthy world Ltd - All rights reserverd.</p>
    </section>
</footer>