.site-footer {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  padding-top: 20px;
  background: rgb(255, 165, 0);
  background: linear-gradient(
    180deg,
    rgba(255, 165, 0, 1) 0%,
    rgba(0, 0, 0, 1) 100%
  );
  color: black;
  border-top: 2px solid black;
  line-height: 1.5;
}

.footer-top {
  display: flex;
}

.pages,
.contact-us {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-us-title,
.pages-title {
  font-family: "Montserrat";
  font-weight: 500;
  border-bottom: 2px solid black;
}

.contacts-list,
.footer-links {
  padding-left: 0;
}

.contacts-list li,
.footer-links li {
  list-style: none;
}

.footer-links {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-link a {
  text-decoration: none;
  color: black;
  font-size: 0.9rem;
}

.footer-bottom {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  background-color: black;
  color: orange;
}

.contacts-list {
  line-height: 1.8;
  font-size: 0.9rem;
}
