<section class="product-details">
    <h2 class="product-name"></h2>
    <article class="product-image-container">
        <img src="" alt="">
    </article>
    <article class="product-description">
        <p></p>
    </article>
    <article class="owner-info">
        <p></p>
    </article>
    <article class="options">
        <button class="like"></button>
        <button class="buy"></button>
        <button class="delete"></button>
        <button class="edit"></button>
    </article>
</section>