<section class="product-details-content">
    <article class="product-details-content-image-wrapper">
        <img src="../../assets/images/honey.jpg" alt="">
    </article>
    <article class="product-details-content-text">
        <p class="product-details-content-text-title">{{currentProduct?.product}}</p>
        <p class="product-details-content-text-subtitle">{{currentProduct?.description}}</p>
        <ul class="informative-list">
            <li class="informative-list-item">
                <span class="main-info">Price</span>
                <span class="secondary-info">{{currentProduct?.price}} lv/kg.</span>
            </li>
            <li class="informative-list-item">
                <span class="main-info">Seller</span>
                <span class="secondary-info">Ivan Dimitrov Petrov</span>
            </li>
            <li class="informative-list-item">
                <span class="main-info">E-mail</span>
                <span class="secondary-info">vancho-mail@....</span>
            </li>
            <button class="product-details-content-btn edit">Edit</button>
            <button class="product-details-content-btn delete">Delete</button>
            <button class="product-details-content-btn buy">Buy</button>
            <button class="product-details-content-btn like">Like</button>
        </ul>
    </article>
</section>