<section class="user-profile">
    <article class="user-profile-image-container">
        <img src="../../assets/images/profile-pic.png" alt="">
    </article>
    <article class="user-profile-info" *ngIf="userInfo">
        <p>Username: {{userInfo.username}}</p>
        <p>All products available:</p>
    </article>
    <section class="inner" *ngIf="userInfo">
        <!-- <app-product *ngFor="let product of userInfo.products" [product]="userInfo.products">
        </app-product> -->
    </section>
</section>