<section class="home-guest-view-content">
    <article class="home-guest-view-content-text">
        <h1 class="home-guest-view-content-text-title">Welcome to Healthy world!</h1>
        <h2 class="home-guest-view-content-text-subtitle">The biggest online bee products marketplace</h2>
    </article>
    <article class="home-guest-view-content-image-container">
        <img src="../../assets/images/sunflowers.jpg" alt="home-view-guest-background-image">
    </article>
</section>
<article class="log-in-button">
    <button class="log-in">About us</button>
</article>
<section class="recent-offerts">
    <h1 class="recent-offerts-title">Our most liked offerts</h1>
    <article class="search-filter-container">
        <article class="search">
            <form action="" class="filter-form">
                <label for="search">
                    <i class="fas fa-search"></i>
                    <input type="text" id="search" name="search" placeholder="Search">
                </label>
            </form>
        </article>
        <article class="filter"></article>
    </article>
    <section class="inner">
        <!-- <app-product *ngIf="currentProduct" [productInfo]="currentProduct"
            (serverResponseEmitter)="eventEmitterHandler($event)"></app-product> -->
    </section>
</section>