.site-header {
  margin: 20px auto;
  background-color: black;
  padding: 30px 45px 20px 15px;
  margin-top: 0;
  margin-bottom: 60px;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  max-width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo img {
  width: 50%;
  border-radius: 50%;
}

.logo-text {
  color: orange;
  font-size: 1.1rem;
}

.links {
  display: flex;
}

.link {
  list-style: none;
  margin-right: 25px;
}

.link:last-child {
  margin-right: 0;
}

.link a {
  text-decoration: none;
  color: orange;
  font-size: 0.9rem;
  font-weight: bold;
  text-transform: uppercase;
  border: 2px solid orange;
  padding: 8px 24px;
  border-radius: 30px;
}

.link a:hover {
  cursor: pointer;
  color: white;
  border-color: white;
}
