.site-header {
    max-width: 90%;
    margin: 20px auto;
}

.header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    max-width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo img {
    width: 50%;
}

.links {
    display: flex;
}

.link {
    list-style: none;
    margin-right: 35px;
}

.link:last-child {
    margin-right: 0;
}

.link a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}