.main-content-title,
.loading {
  text-align: center;
}

.main-content-title {
  font-size: 1.5rem;
}

.products-container {
  display: flex;
  flex-wrap: wrap;
}

.loading {
  margin-top: 50px;
  margin-bottom: 100px;
  font-size: 1.2rem;
}

.products {
  display: flex;
}

.empty {
  text-align: center;
}

.cta-store-a-product a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 0.9rem;
  padding: 6px 24px;
  background-color: orange;
  border: 2px solid black;  
  border-radius: 24px;
  letter-spacing: 3px;
}

.cta-store-a-product a:hover {
  cursor: pointer;
}