<section class="main-content">
    <h1 class="main-content-title">All products available</h1>
    <ng-template [ngIf]="products?.length !== 0">
        <section class="inner">
            <section class="products-container" *ngIf="products">
                <app-product *ngFor="let product of products" [product]="product"></app-product>
            </section>
            <section class="loading" *ngIf="!products">
                <h3>Loading...</h3>
            </section>
        </section>
    </ng-template>
    <ng-template [ngIf]="products?.length === 0">
        <section class="empty">
            <h3>No products stored yet!</h3>
            <article class="cta-store-a-product">
                <a routerLink="/product/create">
                    Store a product
                </a>
            </article>
        </section>
    </ng-template>
</section>