<app-header></app-header>
<main>
    <section class="main-content">
        <!-- <router-outlet></router-outlet> -->
        <app-product></app-product>
        <app-product></app-product>
        <app-product></app-product>
        <!-- <section class="notification-section" *ngIf="serverResponseInfo">
            <app-success [info]="serverResponseInfo"></app-success>
        </section>
        <app-register (serverResponseEmitter)="eventEmitterHandler($event)"></app-register> -->
        <!-- <app-login></app-login> -->
        <!-- <app-product-create></app-product-create> -->
        <!-- <app-product-edit></app-product-edit> -->
        <!-- <app-home-view-logged-in></app-home-view-logged-in> -->
        <!-- <app-product-delete></app-product-delete> -->
        <!-- <app-user-profile></app-user-profile> -->
        <!-- <app-home-view-guest *ngIf="product" [currentProduct]="product"
            (serverResponseEmitter)="eventEmitterHandler($event)"></app-home-view-guest> -->
        <!-- <app-product-details [currentProduct]="product" [seller]="productSeller"></app-product-details> -->
        <!-- <app-logout></app-logout> -->
        <!-- <app-page-not-found></app-page-not-found> -->
        <!-- <app-user-profile></app-user-profile> -->
    </section>
</main>
<app-footer></app-footer>