<app-header></app-header>
<main>
    <section class="main-content">
        <router-outlet></router-outlet>
        <!-- <ng-template [ngIf]="serverResponseInfo">
            <ng-template [ngIf]="serverResponseInfo.hasError === false">
                <app-success [message]="serverResponseInfo.message"></app-success>
            </ng-template>
            <ng-template [ngIf]="serverResponseInfo.hasError === true">
                <app-error [message]="serverResponseInfo.message"></app-error>
            </ng-template>
        </ng-template> -->
        <!-- <app-register (serverResponseEmitter)="serverResponseHandler($event)"></app-register> -->
    </section>
</main>
<app-footer></app-footer>