.product {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
  width: 100%;
}

.image-container {
  width: 200px;
  margin-bottom: 20px;
  border-radius: 50%;
}

.image-container img {
  width: 100%;
  border-radius: 50%;
}

.more-info {
  position: relative;
  left: 7px;
  padding: 8px 16px;
  background-color: black;
  border: none;
  color: orange;
  font-weight: bold;
  border-radius: 12px;
}

.more-info:hover {
  cursor: pointer;
}

.product-name {
  text-align: center;
  margin-top: 0;
  font-size: 1.1rem;
}
