.user-profile {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user-profile-image-container {
    max-width: 200px;
}

.user-profile-image-container img {
    width: 100%;
}