<header class="site-header">
    <nav class="header-nav">
        <article class="logo">
            <img src="../../assets/images/bee.png" alt="Company logo">
            <p class="logo-text">Healthy world LTD.</p>
        </article>
        <ul class="links">
            <ng-template [ngIf]="isLogged">
                <li class="link"><a routerLink="/home">Home</a></li>               
                <li class="link"><a routerLink="/product/create">Store a product</a></li>
                <li class="link"><a routerLink="/user/{{loggedUserUsername}}/profile">My profile</a></li>
                <li class="link"><a (click)="logoutHandler()">Logout</a></li>
            </ng-template>
            <ng-template [ngIf]="!isLogged">
                <li class="link"><a routerLink="/">Home</a></li>   
                <li class="link"><a routerLink="/register">Sign up</a></li>
                <li class="link"><a routerLink="/login">Sign in</a></li>
            </ng-template>            
        </ul>
    </nav>       
</header>


