<header class="site-header">
    <nav class="header-nav">
        <article class="logo">
            <img src="../../assets/images/bee.png" alt="Company logo">
            <p class="logo-text">Healthy world LTD.</p>
        </article>
        <ul class="links">
            <li class="link"><a routerLink="/">Home</a></li>               
            <li class="link"><a routerLink="/register">Sign up</a></li>
            <li class="link"><a routerLink="/login">Sign in</a></li>
            <!-- <li class="link"><a routerLink="/">Store a product</a></li>
            <li class="link"><a routerLink="/">My profile</a></li> -->
            <li class="link"><a (click)="logoutHandler()">Logout</a></li>
        </ul>
    </nav>       
</header>


